.CTA {
  color: #983fec;
  font-family: 'Colfax Bold';
  font-size: 1.3em;
  margin: 0 .75em .75em 0;
  min-width: 180px;
  text-decoration: none;
  transition: all 150ms ease;
  position: relative;
  display: block;
}
.title {
  position: absolute;
  bottom: -.5em;
  color: white;
  font-size: 0px;
  font-family: 'Colfax Regular';
  min-width: 1000px;
  left: 0;
  transition: all 150ms ease-in-out 200ms;
}
.CTA:hover .title {
  font-size: .625em;
  transition: all 150ms ease-in-out 350ms;
}
.CTA:after {
  display: inline-block;
  transition: transform 150ms ease-in-out;
}
.CTA.default:hover:after {
  transform: translateX(.5em);
}
.CTA.default:after {
  content: '›';
  transform: translateX(.25em);
}
.CTA.default {
  color: #983fec;
  /* padding: .625em .5em .625em 0; */
}
.CTA.default:hover {
  color: #ec3fa4;
}
.CTA.back {
  color: #fff;
  padding: .625em .5em .625em 0;
  margin-top: .75em;
  font-size: 1em;
}
.CTA.back:hover {
  color: #983fec;
}
.CTA.hot {
  color: #ec3fa4;
}
.CTA.hot:hover {
  color: #983fec;
}