.Intro {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 30px;
}
.Intro h1.home {
  font-size: 3em;
}
@media (min-width: 768px) {
  .Intro {
    padding-left: 120px;
    max-width: 45vw;
  }
}