.Roles {
  padding: 0;
  margin: 0;
  position: relative;
}
.Roles .chart {
  position: relative;
}
@media (min-width: 900px) {
  .Roles {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    min-height: 80vh;
    padding: 30px;
    width: 70%;
  }
  .Roles canvas {
    transition: transform 3s ease-in-out;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  .Roles.animate canvas {
    transform: rotate(-720deg) scale(0) translateX(calc(200vw / 2));
    transition: transform 1s ease;
  }
}