@font-face {
  font-family: 'Colfax Regular';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Regular'), url('./fonts/Colfax-Regular.woff') format('woff');
}
  
@font-face {
  font-family: 'Colfax Regular Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Regular Italic'), url('./fonts/Colfax-RegularItalic.woff') format('woff');
}

@font-face {
  font-family: 'Colfax Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Medium'), url('./fonts/Colfax-Medium.woff') format('woff');
}

@font-face {
  font-family: 'Colfax Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Bold'), url('./fonts/Colfax-Bold.woff') format('woff');
}

@font-face {
  font-family: 'Colfax Black';
  font-style: normal;
  font-weight: normal;
  src: local('Colfax Black'), url('./fonts/Colfax-Black.woff') format('woff');
}

body {
  background: #000;
  color: #fff;
  font-family: 'Colfax Regular', sans-serif;
  font-size: 18px;
}

h1 {
  font-family: 'Colfax Medium', sans-serif;
  font-size: 2em;
  margin: 0 0 .5em;
}

p {
  margin: 0 0 .5em;
}

.lead {
  font-size: 1.444em;
  margin-bottom: .75em;
  line-height: 1.25em;
}

a {
  color: #983fec;
}

ul {
  margin-left: -40px;
}

.view {
  display: flex;
  flex: 1 1 0%;
  flex-flow: row nowrap;
  place-content: stretch flex-start;
  align-items: stretch;
  flex-direction: column;
}
@media (min-width: 900px) {
  .view {
    flex-direction: row;
  }
  .App .PrimaryContent,
  .App .SecondaryContent {
    width: 50%;
  }
}