@import url('http://fonts.cdnfonts.com/css/cartogothic-std');
:root {
    --font-family: Avenir, 'CartoGothic Std', sans-serif;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: inherit;
}
html {
    background: #16161a;
    font-size: 20px;
}
body {
    color: #94a1b2;
    font-family: var(--font-family);
    line-height: 1.625em;
}
h1 {
    font-size: 2rem;
    color: #fffffe;
    line-height: 1em;
}
a {
    color: #5acdf0;
    cursor: pointer;
    text-decoration: underline;
}
a:active,
a:focus {
    animation: pulse 0.3s ease-in-out 0s 1 normal forwards;
}
@keyframes pulse {
    0% {
        outline-color: transparent;
        outline-width: 0px;
    }
    80% {
        outline-offset: 6px;
    }
    100% {
        outline-color: #f1edf4;
        outline-width: 2px;
        outline-offset: 4px;
    }
}
.visually-hidden,
.visually-hidden-focusable:not(:focus):not(:focus-within) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    padding: 0 !important;
    margin: -1px !important;
    overflow: hidden !important;
    clip: rect(0, 0, 0, 0) !important;
    white-space: nowrap !important;
    border: 0 !important;
    color: white;
    background: black;
}
h1,
p,
ul {
    margin-bottom: 1em;
}
li {
    margin-bottom: 0.5em;
}
@supports (grid-area: auto) {
    main {
        display: grid;
        grid-template-rows: 1fr;
        grid-template-areas: 'section';
        overflow: hidden;
    }
}
section {
    background: transparent;
    color: white;
    display: flex;
    flex-flow: column wrap;
    grid-area: section;
    height: 100vh;
    justify-content: start;
    opacity: 0;
    transition: opacity 0.3s ease-in-out, background 0.3s linear;
    width: 100vw;
    visibility: hidden;
    overflow-y: scroll;
    /* who */
    &.active:nth-child(2) {
        background: linear-gradient(to bottom left, rgb(28, 123, 123) 11.2%, rgb(51, 8, 103) 92.5%);
    }
    /* dev */
    &.active:last-child {
        background: #41295a;
        background: -webkit-linear-gradient(to bottom right, #2f0743, #21295a);
        background: linear-gradient(to bottom right, #2f0743, #21295a);
    }
    &.active {
        opacity: 1;
        transition: opacity 0.4s ease-in-out 0.1s, background 10s linear 0.1s;
        visibility: visible;
    }
    &:nth-child(2) a {
        color: #5af0e9;
    }
    .content {
        padding: 2em;
        transform: translateY(50px);
        transition: transform 0 ease-out;
        z-index: -1;
    }
    &.active .content {
        transform: translateY(0);
        transition: transform 0.9s cubic-bezier(0.22, 1, 0.36, 1) 0.05s;
        z-index: 0;
    }
}
@media screen and (min-width: 600px) {
    section {
        justify-content: center;
    }
    .content {
        margin-top: 5vh;
        margin-left: 20vw;
        max-width: 50vw;
    }
}
.highlights {
    li {
        position: relative;
        width: 40%;
        transition: width 0.75s ease-in-out 0.05s;
        overflow-y: hidden;
        &:after {
            background: linear-gradient(to left, #40f, #ff006c, #41295a);
            bottom: 1px;
            transition: opacity 0.15s ease-in-out;
            border-radius: 1px;
            content: '';
            display: block;
            height: 3px;
            opacity: 0;
            position: absolute;
            width: 100%;
        }
        &.animated:after {
            opacity: 1;
        }
    }
}

@keyframes easeOutElastic {
    0% {
        transform: translateY(0%);
    }

    16% {
        transform: translateY(-132.27%);
    }

    28% {
        transform: translateY(-86.88%);
    }

    44% {
        transform: translateY(-104.63%);
    }

    59% {
        transform: translateY(-98.36%);
    }

    73% {
        transform: translateY(-100.58%);
    }

    88% {
        transform: translateY(-99.8%);
    }

    100% {
        transform: translateY(-100%);
    }
}

// no JS
.no-js {
    main {
        display: block;
        overflow-y: scroll;
    }
    section {
        opacity: 1;
        visibility: visible;
        .content {
            transform: none;
            z-index: 0;
        }
    }
}
